# .NET Core
bin/
obj/
*.user
*.suo
*.cache
*.log

# Visual Studio
.vs/
*.vsidx
*.vsconfig

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/

# User-specific files
*.rsuser
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
